Repository huangcheng/startpage-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check-spell, npm test, npm run eslint, npm run pretty-quick, npm run stylelint

feat: add layout
  src/app.tsx
  src/components/Header/index.tsx
  src/layouts/Head/index.tsx
  src/layouts/Main/index.tsx
  src/layouts/MainContent/index.tsx
  src/layouts/Side/index.tsx
  src/layouts/index.ts
  src/reducers/global.ts
  src/themes/index.ts
  src/themes/light.ts
  src/types/theme.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

chore: update packages
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  pnpm-lock.yaml
Due: none

feat: add the logo component
  .gitignore
  src/app.tsx
  src/assets/images/logo.png
  src/components/Header/index.tsx
  src/components/Logo/index.tsx
  src/components/index.ts
  tsconfig.json
  typings/files.d.ts
  webpack/base.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add favicons
  public/assets/images/android-chrome-192x192.png
  public/assets/images/android-chrome-512x512.png
  public/assets/images/apple-touch-icon.png
  public/assets/images/favicon-16x16.png
  public/assets/images/favicon-32x32.png
  public/assets/images/favicon.ico
  public/index.ejs
  webpack/base.js
  webpack/dev.js
Due: npm run check-spell

feat: add the search component
  pnpm-lock.yaml
  src/app.tsx
  src/assets/images/search.png
  src/components/Logo/index.tsx
  src/components/Search/index.tsx
  src/components/index.ts
  src/layouts/Side/index.tsx
  src/pages/Home/index.tsx
  src/themes/light.ts
  src/types/theme.ts
  tsconfig.json
  webpack/base.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the nav component
  package.json
  pnpm-lock.yaml
  src/apis/category.ts
  src/components/Nav/index.tsx
  src/hooks/index.ts
  src/hooks/request.ts
  src/pages/Home/index.tsx
  src/types/query.ts
  src/types/request.ts
  src/types/response.ts
  src/utils/index.ts
  src/utils/request.ts
  typings/global.d.ts
  webpack/base.js
  webpack/dev.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: fetch nav items from api
  src/apis/category.ts
  src/app.tsx
  src/components/Nav/index.tsx
  src/components/index.ts
  src/themes/light.ts
  src/types/theme.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the Category and Site component
  .editorconfig
  package.json
  pnpm-lock.yaml
  src/apis/category.ts
  src/apis/index.ts
  src/apis/site.ts
  src/assets/images/icons/folder.png
  src/components/Category/index.tsx
  src/components/Nav/index.tsx
  src/components/Site/index.tsx
  src/components/index.ts
  src/hooks/request.ts
  src/pages/Home/index.tsx
  src/themes/light.ts
  src/types/response.ts
  src/types/theme.ts
  src/utils/request.ts
  webpack/base.js
  webpack/dev.js
  webpack/prod.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

refactor: move request out from the Category component
  .env.example
  package.json
  pnpm-lock.yaml
  src/apis/category.ts
  src/apis/site.ts
  src/components/Category/index.tsx
  src/components/Nav/index.tsx
  src/hooks/request.ts
  src/pages/Home/index.tsx
  src/types/request.ts
  src/types/response.ts
  src/utils/request.ts
  webpack/index.js
  webpack/prod.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

refactor: types of requests
  pnpm-lock.yaml
  src/hooks/request.ts
  src/types/response.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

build: add the swc config file
  .swcrc
Due: none

chore: modify types of ids
  .swcrc
  src/apis/site.ts
  src/types/response.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the server side rendering mechanism
  .cspell.json
  plugins/request-html-webpack-plugin.js
  public/index.ejs
  webpack/prod.js
Due: npm run check-spell

chore: update packages
  .gitignore
  package.json
  pnpm-lock.yaml
Due: none

refactor: html webpack template plugin
  package.json
  plugins/html-webpack-template-plugin.js
  plugins/request-html-webpack-plugin.js
  public/index.ejs
  webpack/prod.js
Due: npm run check-spell

build: change the event of html webpack template plugin
  plugins/html-webpack-template-plugin.js
Due: none

feat: add the login page
  package.json
  public/index.ejs
  src/app.tsx
  src/assets/images/login_bg.svg
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/routes/index.tsx
  src/themes/light.ts
  src/types/theme.ts
  typings/files.d.ts
  webpack/prod.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the login api
  .cspell.json
  .eslintignore
  package.json
  src/apis/index.ts
  src/apis/user.ts
  src/app.tsx
  src/dev/README.md
  src/dev/index.ts
  src/dev/palette.tsx
  src/dev/previews.tsx
  src/dev/useInitial.ts
  src/hooks/request.ts
  src/hooks/store/global.ts
  src/hooks/store/index.ts
  src/index.tsx
  src/locales/cn.ts
  src/locales/en.ts
  src/locales/index.ts
  src/pages/Login/index.tsx
  src/reducers/global.ts
  src/types/request.ts
  src/utils/request.ts
  src/utils/route.tsx
  tsconfig.json
  webpack/base.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the user info api
  src/apis/user.ts
  src/app.tsx
  src/hooks/request.ts
  src/hooks/store/global.ts
  src/hooks/store/user.ts
  src/reducers/index.ts
  src/reducers/user.ts
  src/types/response.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the admin page
  .cspell/dict.dic
  package.json
  src/app.tsx
  src/hooks/store/admin.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/index.tsx
  src/reducers/admin.ts
  src/reducers/global.ts
  src/reducers/index.ts
  src/routes/index.tsx
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add animations for the admin page
  package.json
  src/app.tsx
  src/pages/Admin/index.tsx
  src/pages/Login/index.tsx
  src/types/theme.ts
  src/utils/request.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: adjust message tips for the login hook
  src/apis/index.ts
  src/hooks/request.ts
  src/pages/Admin/index.tsx
  src/pages/Login/index.tsx
  src/utils/request.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the header component
  src/apis/index.ts
  src/apis/user.ts
  src/components/Header/index.tsx
  src/components/index.ts
  src/hooks/request.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/index.tsx
  src/pages/Home/index.tsx
  src/pages/Login/index.tsx
  src/reducers/admin.ts
  src/themes/light.ts
  src/types/theme.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: use the Anchor component to implement the nav
  src/components/Category/index.tsx
  src/components/Header/index.tsx
  src/components/Nav/index.tsx
  src/layouts/Main/index.tsx
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Home/index.tsx
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

chore: update dependencies
  package.json
Due: none

feat: add the profile page
  package.json
  src/apis/index.ts
  src/apis/user.ts
  src/components/Header/index.tsx
  src/hooks/request.ts
  src/hooks/store/admin.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/Profile/index.tsx
  src/routes/index.tsx
  src/themes/light.ts
  src/types/theme.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

chore: update dependencies
  babel.config.js
  package.json
Due: none

feat: adjust the category response format
  .env.example
  .lintstagedrc.json
  package.json
  src/apis/category.ts
  src/apis/user.ts
  src/pages/Admin/Profile/index.tsx
  src/pages/Admin/index.tsx
  src/types/response.ts
  webpack/dev.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the create category form
  public/index.ejs
  src/apis/category.ts
  src/apis/index.ts
  src/components/Category/index.tsx
  src/hooks/request.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/Category/index.tsx
  src/pages/Admin/index.tsx
  src/pages/Home/index.tsx
  src/routes/index.tsx
  src/types/request.ts
  src/types/response.ts
  tsconfig.json
  webpack/base.js
  webpack/prod.js
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the ability to modify categories
  .cspell/dict.dic
  src/apis/category.ts
  src/apis/index.ts
  src/apis/site.ts
  src/hooks/request.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/Category/index.tsx
  src/pages/Home/index.tsx
  src/routes/index.tsx
  src/types/request.ts
  src/types/response.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the modify password page
  src/apis/category.ts
  src/apis/index.ts
  src/apis/user.ts
  src/components/Header/index.tsx
  src/hooks/request.ts
  src/index.tsx
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/Category/index.tsx
  src/pages/Admin/Password/index.tsx
  src/pages/Admin/Site/index.tsx
  src/pages/Admin/index.tsx
  src/routes/index.tsx
  src/types/request.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: add the site page
  src/apis/category.ts
  src/apis/index.ts
  src/apis/site.ts
  src/components/Category/index.tsx
  src/hooks/request.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/Category/index.tsx
  src/pages/Admin/Site/index.tsx
  src/pages/Admin/index.tsx
  src/pages/Home/index.tsx
  src/routes/index.tsx
  src/types/request.ts
  src/types/response.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

chore: add license
  LICENSE
Due: none

docs: add the README
  README.md
  docs/categories_management.png
  docs/category.png
  docs/homepage.png
  docs/login.png
  docs/site.png
  docs/user.png
  package.json
Due: none

feat: add search for the index page
  README.md
  src/apis/site.ts
  src/components/Search/index.tsx
  src/hooks/request.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Home/index.tsx
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

fix: bugs related to category and site creation
  src/apis/user.ts
  src/hooks/request.ts
  src/locales/cn.ts
  src/locales/en.ts
  src/pages/Admin/Category/index.tsx
  src/pages/Admin/Password/index.tsx
  src/pages/Admin/Profile/index.tsx
  src/pages/Admin/Site/index.tsx
  src/types/response.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: allow to sort categories
  package.json
  src/apis/category.ts
  src/hooks/request.ts
  src/pages/Admin/Category/index.tsx
  src/pages/Admin/Password/index.tsx
  src/pages/Home/index.tsx
  src/types/request.ts
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

feat: allow to sort sites
  src/apis/category.ts
  src/apis/site.ts
  src/hooks/request.ts
  src/pages/Admin/Site/index.tsx
  src/pages/Home/index.tsx
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

fix: nav width issue
  src/pages/Home/index.tsx
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

fix: the category issue while filtering sites
  src/pages/Admin/Site/index.tsx
Due: npm run check-spell, npm test, npm run eslint, npm run pretty-quick

Path conditions:
  npm run check-spell: any of: *.{ts,tsx,ejs}
  npm test: any of: *.{ts,tsx}
  npm run eslint: any of: *.{ts,tsx}
  npm run pretty-quick: any of: *.{ts,tsx}
  npm run stylelint: any of: *.css
